
* {
    font-family: 'Raleway', sans-serif;
}

body, html {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
}

/* Logo section */

#bigLine {
    border-right: 2px black solid;
    background-color: #666;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height: 100%;
    width: 10%;
    z-index: 1;
    transition: all 1s ease;
}

#logoContainer {
    height: 100vh;
    top: 50px;
    width: 8%;
    margin-left: 1%;
    margin-right: 1%;
    position: fixed;
    z-index: 2;
    cursor: default;
}

#logoContainer img {
    display: block;
    width: 100%;
}

#leftCanvas {
    width: 100%;
    height: 100vh;
}

#logoContainer {
    display: none;
}

#veritasOcculta {
    margin-top: 30px;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'Libre Baskerville';
    font-size: 3vw;
    color: white;
}

/* Header section */

header, header i {
    font-family: 'Libre Baskerville';
    font-size: 45px;
    text-align: right;
    margin-top: 40vh;
    margin-bottom: 100px;
}

header b {
    font-family: 'Libre Baskerville';
    font-weight: 400;
    color: white;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
}

#headerContainer {
    position: relative;
    height: 100vh;
    padding-left: 20%;
    padding-right: 5%;
    overflow: hidden;
}

#learnMoreOverlay {
    position: absolute;
    top: 0;
    width: 75%;
    margin-top: 40vh;
}

.learnMoreHiddenText {
    color: rgba(0, 0, 0, 0);
    font-family: 'Libre Baskerville';
    font-size: 45px;
    margin-bottom: 20px;
}

#learnMore {
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    color: #666;
    cursor: pointer;
    top: 50vh;
    margin-left: 40%;
    margin-right: 10%;
    text-align: center;
    transition: all 0.2s ease;
}

#learnMore:hover {
    color: black;
}

/* Projects */

#projects {
    padding-top: 50px;
    padding-left: 10%;
}

.project {
    border: 2px black solid;
    border-right: none;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 200px;
    position: relative;
    cursor: pointer;
    margin-top: -2px;
    overflow: hidden;
}

.projectText {
    -webkit-transition: color .4s ease;
    -moz-transition: color .4s ease;
    -o-transition: color .4s ease;
    transition: color .4s ease;
}

.project:hover .projectText {
    color: white;
}

.projectHeader .projectSuperHeader {
    z-index: 999;
}

.projectSuperHeader {
    font-family: 'Libre Baskerville';
    text-transform: uppercase;
    font-weight: bold;
}

.projectHeader {
    font-family: 'Libre Baskerville';
    text-transform: uppercase;
    font-size: 70px;
}

.projectBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: -1;
    -moz-transition: -moz-transform .4s;
    -o-transition: -o-transform .4s;
    -webkit-transition: -webkit-transform .4s;
    transition: transform .4s;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    -webkit-transform-origin: top;
    transform-origin: top;
    overflow: hidden;
}

.projectBackgroundImage {
    width: 100%;
}

.updown {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}

.projectBackgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#learnMoreHiddenTextSecondLine {
    display: none;
}

@media only screen and (max-width: 1380px) {
    #bigLine {
        width: 16%;
    }

    #logoContainer {
        width: 10%;
        margin-left: 3%;
        margin-right: 3%;
        position: fixed;
        z-index: -1;
    }

    #headerContainer {
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }

    header {
        text-align: center;
    }

    #learnMoreHiddenTextSecondLine {
        display: block;
    }

    #learnMore {
        margin: 0;
        text-align: center;
        width: 100%;
    }
}
