/* Colours 
Baby blue: #8abcd7
Light grey: #888888
*/

* {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

.button {
    background-color: white;
    border-radius: 15px;
    color: #8abcd7;
    width: fit-content;
    margin-top: 35px;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    box-shadow: 5px 10px #888888;
}

.bold {
    font-weight: bold !important;
}

.fontW500 {
    font-weight: 600;
}

.black {
    color: rgb(104, 104, 104) !important;
}

.regular,
.name {
    font-size: 18px;
}

.name {
    line-height: 40px;
}

.italics {
    font-style: italic;
}

.displayFont {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

.section {
    padding-left: 15%;
    padding-right: 15%;
}

.sectionLeftPadOnly {
    padding-left: 15%;
}

.heading {
    font-size: 60px;
    text-align: center;
    padding-top: 40px;
}

/* Landing */

#header,
#landing {
    background-color: #8abcd7;
}

#header {
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

#logo {
    width: 120px;
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#landing {
    height: 830px;
    /* background-image: url('images/landing.webp'); */
    background-size: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

#landingLeft {
    width: 40%;
}

#landingRight {
    width: 60%;
}

#landingHeading,
#landingDescription {
    padding-right: 5%;
}

#landingHeading {
    font-size: 100px;
    line-height: 82px;
    padding-top: 150px;
    margin-bottom: 40px;
}

#landingDescription {
    font-size: 30px;
}

#landingDescription hr {
    border: 1px solid white;
    width: 200px;
    margin-left: 0;
    text-align: left;
}

.button:hover {
    color: rgb(105, 153, 179);
    box-shadow: 0px 0px 10px #888888;
}

#landingRight {
    overflow: hidden;
}

#canisterContainer {
    height: 600px;
    display: flex;
    justify-content: flex-end;
}

#canister {
    width: 100%;
}

/* Explanation */

#comparisonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

#explanationHeading {
    color: black;
}

#explanationHeadings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

#explanationHeading2,
#comparison tr th,
#comparison tr td {
    color: #8abcd7;
}

#comparison {
    border-collapse: collapse;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#comparison th,
td {
    padding: 15px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Icons */

#iconContainer {
    width: 100%;
    margin-top: 100px;
}

#iconCentredContainer {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
}

.iconPair {
    width: 120px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 80px;
}

.icon {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

.iconDescription {
    text-align: center;
    text-transform: uppercase;
    color: #333;
    font-size: 14px;
}

#iconText {
    text-align: center;
}

#iconSection {
    margin-bottom: 200px;
}

/* Offering */

#offering {
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#offering .heading {
    color: white;
}

#offeringHeadingHR {
    margin-top: 60px;
    margin-bottom: 40px;
}

.head {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    overflow: hidden;
    margin-left: 40px;
    margin-right: 40px;
    border: #888888 5px solid;
}

.headImg {
    height: 150px;
}

#doctors,
#ourGreatCEO {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
}

#ourGreatDivider,
#offeringHeadingHR {
    width: 200px;
}

#offeringContent {
    width: 80%;
    margin: 0 auto;
}

/* Clincher */

#clincher {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#ourGreatCEO {
    border-radius: 40px;
    margin: 0 auto;
    text-align: center;
}

#ourGreatCEOContent {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

#ourGreatCEOContent .heading {
    margin-bottom: 40px;
    padding-top: 0;
}

.ceoText {
    color: #8abcd7 !important;
}

#ourGreatCEOQuote {
    margin-bottom: 20px;
    font-size: 20px;
}

#ourGreatCEOHead {
    border-color: #8abcd7;
}

#clincherImage {
    width: 50%;
    height: 500px;
    z-index: -1;
}

#clincherImage img {
    width: 100%;
}

#clincherContent {
    width: 50%;
}

/* Next */

#next {
    background-color: #8abcd7;
    color: white;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    padding-bottom: 60px;
}

#next>div {
    width: 100%;
}

#centredButtonGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

#centredButtonGroup .button {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

/* Step-by-step */

#stepByStep {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: none;
}

#stepByStep hr {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    color: white;
    border: 1px solid white;
    margin-left: 0px;
    transition: 0.4s;
}

.stepHeading {
    font-weight: bold;
    font-size: 20px;
}

.stepHeadingButton {
    padding-bottom: 0;
    margin-top: 40px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: 0.4s;
}

.stepHeadingButton:hover {
    width: 80%;
    color: #555;
    border-color: #555;
}

.stepHeadingButton:hover hr {
    border-color: #555 !important;
}

.primaryDescription {
    font-size: 24px;
    line-height: 40px;
    padding-left: 20px;
    margin-top: 20px;
}

.secondaryDescription {
    padding-left: 40px;
    line-height: 20px;
}

.descriptionDrawer {
    display: none;
}

.descriptionDrawer :last-child {
    margin-bottom: 40px;
}

#finalCTA {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#finalCTA .button {
    margin-top: 10px;
}

/* Footer */

footer {
    margin: 20px;
}