
html, body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: white;
}

b {
  font-weight: 700;
}

hr {
  border-color: #999;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
  margin-bottom: 20px;
}

a, a:active, a:visited, a:hover {
  color: white;
}

a {
  text-decoration: underline;
}

a sup, sup a {
  text-decoration: none;
}

ul {
  margin-top: 10px;
}

li {
  margin-top: 10px;
}

/* Landing */

.landing {
  width: 100%;
  height: 100vh;
}

.landingTitle {
  text-align: center;
  color: white;
  padding-top: 40vh;
  font-weight: bold;
  font-size: 100px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Rubik', sans-serif;
}

.landingSubtitle {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Rubik', sans-serif;
}

.parallax {
  background-image: url("images/space.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 60px;
}

.parallax2 {
  background-image: url("images/space.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  background-image: url("images/brickWall.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header {
  width: 100%;
  color: white;
  height: 120px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

#headerLogo {
  width: 30%;
}

#headerLogoContainer {
  padding-top: 15px;
  padding-left: 40px;
}

#headerLogoContainer img {
  width: auto;
  max-height: 90px;
}

#headerMenu {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.headerMenuItem {
  padding-top: 50px;
  width: 25%;
  text-align: center;
  text-transform: uppercase;
}

.headerMenuItem span {
  cursor: pointer;
  font-weight: bold;
  transition: all 0.5s ease;
}

.headerMenuItem span:hover {
  font-size: 16px;
}


/* Sections */

.section {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 50px;
  min-height: 100px;
  /*background-color: white;*/
  padding-bottom: 30px;
}

.sectionTitle {
  text-align: center;
  color: white;
  margin-top: -30px;
  font-size: 60px;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
}

.sectionSubtitle {
  text-align: center;
  color: white;
  margin-bottom: 50px;
  font-size: 30px;
  font-family: 'Rubik', sans-serif;
}

.sectionDescriptionLarge {
  font-size: 20px;
  line-height: 35px;
  font-weight: 400;
}

.sectionDescriptionShort {
  text-align: center;
}

/* Countdown */

#countdownSection {
  background-color: white;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.darkFont * {
  color: #060e4f;
}

#countdown {
  margin-top: 0px;
}

/* Before after */

#beforeAfterImageContainer {
  display: flex;
  flex-wrap: wrap;
}

.moonProgress {
  width: 33.33333%;
}

.moonProgressImage {
  width: 100%;
}

.moonProgressImageContainer {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.moonProgressDescription {
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
  font-weight: 400;
}

.moonProgressDescription b {
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
}

/* Take Action */

#takeAction .sectionTitle {
  margin-top: 30px;
}

#takeActionActions {
  text-align: center;
  line-height: 30px;
}

#alliesList {
  margin-top: 20px;
  text-align: center;
}

#alliesList * {
  line-height: 40px;
  font-size: 20px;
}

/* Fact Society */

#bottomLogo {
  width: 100%;
}

#theSociety {
  position: relative;
}

#bottomLogoContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 60px;
}

#bottomLogoContainer img {
  height: 150px;
}

#factSociety {
  position: relative;
  padding-top: 30px;
}

#factSociety * {
 /* color: black; */
}

#factSociety .sectionDescriptionLarge {

}

#factSocietySectionTitle {
  margin-bottom: 30px;
}

/* Footer */

footer {
  justify-content: center;
  height: 100px;
  background-color: #060e4f;
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 400;
  margin-top: 20px;
}

footer i {
  font-weight: 400;
}

@media only screen and (max-width: 1000px) {
  #headerLogoContainer img {
    display: block;
    max-width:100%;
    max-height:20vh;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  #headerLogoContainer {
    padding: 0;
  }

  #headerMenu {
    display: none;
  }

  #headerLogo {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10vh;
  }

  .landingTitle {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 40px;
  }

  .section {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
  }

  .section * {
    text-align: center;
  }

  .sectionDescriptionLarge, .sectionDescriptionShort, .lieTitle {
    font-size: 16px;
  }

  .lieExplanation {
    font-size: 14px;
  }

  .fact {
    padding-left: 5%;
    padding-right: 5%;
  }

  #colourMythTable {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 0;
    padding-right: 0;
  }

  #colourTheoryLies {
    width: 100%;
  }

  .lie td {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #flagDemoExplanation, #flag, #qatarFlag, #orangeJuiceExplanation {
    margin: 0;
    width: 100%;
  }

  #flag {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }

  #nailDemoExplanation {
    width: 100%;
  }

  #nailsContainer {
    margin-left: auto;
    margin-right: auto;
  }

  .sectionDescriptionLarge ul {
    padding-inline-start: 10%;
  }

  #bottomLogoContainer {
    width: 50%;
  }

  .sectionDescriptionLarge li {
    margin: 0;
    text-align: left !important;  /* Why won't it listen?? */
    font-size: 14px;
  }
}
