
html, body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

b {
  font-weight: 800;
}

hr {
  border-color: #999;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
  margin-bottom: 20px;
}

a, a:active, a:visited, a:hover {
  color: black;
}

a {
  text-decoration: underline;
}

a sup, sup a {
  text-decoration: none;
}

ul {
  margin-top: 10px;
}

li {
  margin-top: 10px;
}

/* Landing */

.landing {
  width: 100%;
  height: 100vh;
}

.landingTitle {
  text-align: center;
  color: white;
  padding-top: 40vh;
  font-weight: bold;
  font-size: 60px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Concert One', cursive;
}

.parallax {
  background-image: url("images/painting3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url("images/painting2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  background-image: url("images/brickWall.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header {
  width: 100%;
  color: white;
  height: 120px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

#headerLogo {
  width: 30%;
}

#headerLogoContainer {
  padding-top: 15px;
  padding-left: 40px;
}

#headerLogoContainer img {
  width: auto;
  max-height: 90px;
}

#headerMenu {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.headerMenuItem {
  padding-top: 50px;
  width: 25%;
  text-align: center;
  text-transform: uppercase;
}

.headerMenuItem span {
  cursor: pointer;
  font-weight: bold;
  transition: all 0.5s ease;
}

.headerMenuItem span:hover {
  font-size: 16px;
}


/* Sections */

.section {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 50px;
  min-height: 100px;
  /*background-color: white;*/
  padding-bottom: 30px;
}

.sectionTitle {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Concert One', cursive;
}

.sectionDescriptionLarge {
  font-size: 20px;
  line-height: 35px;
  font-weight: 400;
}

.sectionDescriptionShort {
  text-align: center;
}

/* Colour theory lies */

#liesContainer {
  margin-top: 30px;
  margin-bottom: 80px;
  border-collapse: collapse;
  width: 100%;
}

.glyphContainer, .lieTitle {
  cursor: pointer;
}

.lie td {
  font-size: 18px;
  border: 1px solid #dddddd;
  padding: 20px;
  line-height: 30px;
}

.lieExplanation {
  font-size: 16px;
  margin-top: 15px;
  display: none;
}

/* Facts */

#colourFact {
  margin-bottom: 70px;
}

#factContainer {
  margin-top: 50px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.fact {
  padding: 60px;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  line-height: 25px;
}

.factTitle {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.factExplanation {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.factNumber {
  text-align: center;
  font-weight: 400;
  font-size: 42px;
  margin-bottom: 10px;
}

.factDemo {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.factDemo * {
  font-size: 14px;
}

.orangeSquare {
  width: 100px;
  height: 100px;
  background: #ffa82e;
  border-radius: 5px;
}

#discreteDemo {
  margin-left: auto;
  margin-right: auto;
}

#orangeSquareSpeech {
  position: absolute;
  margin-left: 110px;
  font-size: 14px;
  line-height: 15px;
}

.fact:nth-child(odd) {
  background-color: #eee;
}

#nailsContainer, #nailsSubContainer {
  display: flex;
  flex-wrap: wrap;
  width: 120px;
}

#nailsContainer {
  width: 100%;
}

#nailsSubContainer {
  margin-left: auto;
  margin-right: auto;
}

#nailDemoExplanation, #orangeJuiceExplanation {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
}

.nail {
  clip-path: polygon(30% 15%, 70% 15%, 70% 22%, 54% 22%, 51% 72%, 49% 72%, 46% 22%, 30% 22%);
  background-color: #555;
  height: 100px;
  width: 50px;
}

#rusty {
  background-color: #825105;
}

#flag {
  width: 20%;
  margin-left: 5%;
  margin-right: 10%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
}

#orangeContainer {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

#orange {
  height: 100px;
  width: 100px;
  background-color: #ffa82e;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px
}

#leaf {
  height: 100px;
  width: 120px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -50px;
  background-color: #37912c;
  clip-path: polygon(57% 44%, 73% 41%, 87% 43%, 98% 55%, 76% 58%, 61% 53%, 48% 71%);
  z-index: -1;
}

#flagDemoExplanation {
  width: 55%;
  margin-left: 10%;
}

#qatarFlag {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
}

#flag div {
  height: 100px;
  width: 33%;
}

#flag .one, #flag .thr {
  background-color: #379392;
}

#flag .two {
  background-color: #9834eb;
}

/* Fact Society */

#bottomLogo {
  width: 100%;
}

#theSociety {
  position: relative;
}

#bottomLogoContainer {
  width: 20%;
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#bottomLogoContainer img {
  width: 100%;
}

#factSociety {

}

#factSociety .sectionDescriptionLarge {

}

/* Footer */

footer {
  justify-content: center;
  height: 100px;
  background-color: #333;
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 400;
  margin-top: 20px;
}

footer i {
  font-weight: 400;
}

@media only screen and (max-width: 1000px) {
  #headerLogoContainer img {
    display: block;
    max-width:100%;
    max-height:20vh;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  #headerLogoContainer {
    padding: 0;
  }

  #headerMenu {
    display: none;
  }

  #headerLogo {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10vh;
  }

  .landingTitle {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 40px;
  }

  .section {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
  }

  .section * {
    text-align: center;
  }

  .sectionDescriptionLarge, .sectionDescriptionShort, .lieTitle {
    font-size: 16px;
  }

  .lieExplanation {
    font-size: 14px;
  }

  .fact {
    padding-left: 5%;
    padding-right: 5%;
  }

  #colourMythTable {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 0;
    padding-right: 0;
  }

  #colourTheoryLies {
    width: 100%;
  }

  .lie td {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #flagDemoExplanation, #flag, #qatarFlag, #orangeJuiceExplanation {
    margin: 0;
    width: 100%;
  }

  #flag {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }

  #nailDemoExplanation {
    width: 100%;
  }

  #nailsContainer {
    margin-left: auto;
    margin-right: auto;
  }

  .sectionDescriptionLarge ul {
    padding-inline-start: 10%;
  }

  #bottomLogoContainer {
    width: 50%;
  }

  .sectionDescriptionLarge li {
    margin: 0;
    text-align: left !important;  /* Why won't it listen?? */
    font-size: 14px;
  }
}
